$dark-blue: #00263A;
$light-blue: #008195;
$grey: #4D4D4D;
$white: #ffffff;
$red: #E40520;

body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-even {
    flex: 1;
}

header {
    margin-top: 3em;
    margin-bottom: 6em;

    a {
        font-size: 1.4em;
        color: $grey;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 1em;
        line-height: 3.5em;
    }

    .search {
        input {
            border: 1px solid $grey;
            box-shadow: none;
            padding: 1em;
            font-size: 1.4em;
        }
    }
}

h1 {
    font-size: 4em;
    color: $dark-blue;
    font-weight: bold;
}

.subtitle {
    font-size: 1.8em;
    color: $light-blue;
}

p {
    font-size: 1.4em;
    color: $grey;
}

.light-banner {
    background-color: $light-blue;
    padding: 5em 0;
    margin-top: 5em;
    h2 {
        color: $white;
        font-weight: bold;
        text-align: center;
        font-size: 2.5em;
    }
    .row {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

.dark-banner {
    background-color: $dark-blue;

    p {
        color: $white;
    }
    h3 {
        color: $white;
        font-weight: bold;
        font-size: 2.5em;
    }

}

.explore-our-stories {
    padding-right: 7em;
    padding-top: 5em;
}

.pathway-box {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $white;
    margin: 2em;
    margin-top: 7.5em;
    .pathway-box-image {
        display: block;
        position: absolute;
        margin: 0 auto;
        top: -7.5em;
        left: 0;
        right: 0;
    }

    h3 {
        margin-top: 4em;
        font-size: 2.5em;
        font-weight: bold;
        color: $light-blue;
    }

    .btn-secondary {
        border-color: $dark-blue;
        background-color: $white;
        color: $dark-blue;
        border-radius: 2em;
        font-weight: bold;
        font-size: 1.8em;
        padding: 0 2em;
        &:hover {
            color: $white;
            background-color: $dark-blue;
        }
    }

    .btn-primary {
        border-color: $red;
        background-color: $white;
        color: $red;
        border-radius: 2em;
        font-weight: bold;
        font-size: 1.8em;
        padding: 0 0.5em;
        &:hover {
            color: $white;
            background-color: $red;
        }
    }
}